Repository xgu830/NZMSA-Phase3-Max: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines.yml

azure-pipelines-1.yml:

# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - back-end/*
    exclude:
      - front-end/*

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  azureSubscription: 'msa-phase3'
  appName: 'msa-phase3-backapi'
  dockerRegistryServiceConnection: 'a3ac9f42-2578-400e-86cc-084e4f684894'
  imageRepository: 'xgunzmsaphasemax'
  azureSubscriptionEndpoint: 'phase3-backend'
  azureContainerRegistry: 'msaphase3backend.azurecr.io'
  dockerComposefilePath: '$(Build.SourcesDirectory)/back-end/GameApi/GameApi/GameApi/docker-compose.yml'
  tag: '$(Build.BuildId)'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: DockerCompose@0
      displayName: Build and push an image to container registry
      inputs: 
        action: Build services
        azureSubscriptionEndpoint: $(azureSubscriptionEndpoint)
        azureContainerRegistry: $(azureContainerRegistry)
        dockerComposeFile: $(dockerComposefilePath)
        projectName: $(Build.Repository.Name)
        qualifyImageNames: true
        additionalImageTags: $(Build.BuildId)
    - task: DockerCompose@0
      displayName: Push services
      inputs:
        action: Push services
        azureSubscriptionEndpoint: $(azureSubscriptionEndpoint)
        azureContainerRegistry: $(azureContainerRegistry)
        dockerComposeFile: $(dockerComposefilePath)
        projectName: $(Build.Repository.Name)
        qualifyImageNames: true
        additionalImageTags: $(Build.BuildId)

    - task: AzureWebAppContainer@1
      displayName: 'Azure Web App on Container Deploy'
      inputs:
        azureSubscription: $(azureSubscription)
        appName: $(appName)
        imageName: $(containerRegistry)/$(imageRepository):$(tag)

azure-pipelines.yml:

# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - front-end/*
    exclude:
    - back-end/*

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  azureSubscription: 'Azure subscription 1'
  appName: 'msa-phase3-front'
  containerRegistry: 'msaphase3frontend.azurecr.io'
  dockerRegistryServiceConnection: 'c620dbdc-09bb-4c50-84d7-b235562708c2'
  imageRepository: 'frontenddocker'
  dockerfilePath: '**/Dockerfile'
  tag: '$(Build.BuildId)'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
    - task: AzureWebAppContainer@1
      displayName: 'Azure Web App on Container Deploy'
      inputs:
        azureSubscription: $(azureSubscription)
        appName: $(appName)
        imageName: $(containerRegistry)/$(imageRepository):$(tag)

update port
  back-end/GameApi/GameApi/GameApi/docker-compose.yml
Due: azure-pipelines-1.yml

update origins site and source site
  back-end/GameApi/GameApi/GameApi/Program.cs
  front-end/src/index.tsx
Due: azure-pipelines-1.yml, azure-pipelines.yml

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: none

update pipeline
  azure-pipelines-1.yml
  back-end/GameApi/GameApi/GameApi/Program.cs
Due: azure-pipelines-1.yml

remove run services
  azure-pipelines-1.yml
Due: none

test docker
  back-end/GameApi/GameApi/GameApi/Dockerfile
  back-end/GameApi/GameApi/GameApi/docker-compose.yml
  back-end/GameApi/GameApi/GameApi/entrypoint.sh
Due: azure-pipelines-1.yml

update docker settings
  back-end/GameApi/GameApi/GameApi/.dockerignore
  back-end/GameApi/GameApi/GameApi/Dockerfile
  back-end/GameApi/GameApi/GameApi/docker-compose.yml
  back-end/GameApi/GameApi/GameApi/entrypoint.sh
Due: azure-pipelines-1.yml

leaderboard api
  back-end/GameApi/GameApi/GameApi/Controllers/LeaderboardsController.cs
Due: azure-pipelines-1.yml

update ports
  back-end/GameApi/GameApi/GameApi/docker-compose.yml
Due: azure-pipelines-1.yml

testing docker-compose setting
  back-end/GameApi/GameApi/GameApi/docker-compose.yml
Due: azure-pipelines-1.yml

docker compose update
  back-end/GameApi/GameApi/GameApi/docker-compose.yml
Due: azure-pipelines-1.yml

testing setting
  back-end/GameApi/GameApi/GameApi/docker-compose.yml
Due: azure-pipelines-1.yml

test setting
  back-end/GameApi/GameApi/GameApi/docker-compose.yml
Due: azure-pipelines-1.yml

test setting
  azure-pipelines-1.yml
Due: none

update backend
  back-end/GameApi/GameApi/GameApi/Data/GameDbContext.cs
Due: azure-pipelines-1.yml

update backend
  azure-pipelines-1.yml
  back-end/GameApi/GameApi/GameApi/Controllers/LeaderboardsController.cs
  back-end/GameApi/GameApi/GameApi/Data/ContextConfigurations/LeaderboardContextConfiguration.cs
  back-end/GameApi/GameApi/GameApi/Data/Query.cs
  back-end/GameApi/GameApi/GameApi/GameApi.csproj
  back-end/GameApi/GameApi/GameApi/Interfaces/ILeaderboardRepository.cs
  back-end/GameApi/GameApi/GameApi/Migrations/20220831234605_Initial.Designer.cs
  back-end/GameApi/GameApi/GameApi/Migrations/20220831234605_Initial.cs
  back-end/GameApi/GameApi/GameApi/Migrations/GameDbContextModelSnapshot.cs
  back-end/GameApi/GameApi/GameApi/Model/Leaderboard.cs
  back-end/GameApi/GameApi/GameApi/Program.cs
  back-end/GameApi/GameApi/GameApi/Properties/launchSettings.json
  back-end/GameApi/GameApi/GameApi/Repositories/LeaderboardRepository.cs
  back-end/GameApi/GameApi/GameApi/appsettings.json
  back-end/GameApi/GameApi/GameApi/docker-compose.yml
Due: azure-pipelines-1.yml

update graphql query and mutation
  back-end/GameApi/GameApi/GameApi/Controllers/LeaderboardsController.cs
  back-end/GameApi/GameApi/GameApi/Data/GameDbContext.cs
  back-end/GameApi/GameApi/GameApi/Data/Query.cs
  back-end/GameApi/GameApi/GameApi/Interfaces/ILeaderboardRepository.cs
  back-end/GameApi/GameApi/GameApi/Model/AddNewItemPayload.cs
  back-end/GameApi/GameApi/GameApi/Model/Leaderboard.cs
  back-end/GameApi/GameApi/GameApi/Model/LeaderboardItem.cs
  back-end/GameApi/GameApi/GameApi/Model/NewLeaderboardItem.cs
  back-end/GameApi/GameApi/GameApi/Program.cs
  back-end/GameApi/GameApi/GameApi/Repositories/LeaderboardRepository.cs
  back-end/GameApi/GameApi/GameApi/Schema/Mutation.cs
  back-end/GameApi/GameApi/GameApi/Schema/Query.cs
Due: azure-pipelines-1.yml

update frontend graphql query
  front-end/src/services/graphqlQuery.tsx
Due: azure-pipelines.yml

frontend adding mutation
  front-end/src/services/graphqlMutation.tsx
  front-end/src/services/graphqlQuery.tsx
Due: azure-pipelines.yml

front end graphql update
  back-end/GameApi/GameApi/GameApi/Program.cs
  front-end/src/components/GameGridRow.tsx
  front-end/src/components/LogicGameGrid.tsx
  front-end/src/services/graphqlMutation.tsx
  front-end/src/services/graphqlQuery.css
  front-end/src/services/graphqlQuery.tsx
Due: azure-pipelines-1.yml, azure-pipelines.yml

mutation button update
  back-end/GameApi/GameApi/GameApi/Schema/Mutation.cs
  front-end/src/services/graphqlMutation.tsx
Due: azure-pipelines-1.yml, azure-pipelines.yml

testing
  front-end/src/App.test.tsx
  front-end/src/components/LogicGameGrid.tsx
  front-end/src/components/Tile.tsx
  front-end/src/stories/GameGrid.stories.tsx
  front-end/src/stories/GameGridRow.stories.tsx
  front-end/src/stories/assets/code-brackets.svg
  front-end/src/stories/assets/colors.svg
  front-end/src/stories/assets/comments.svg
  front-end/src/stories/assets/direction.svg
  front-end/src/stories/assets/flow.svg
  front-end/src/stories/assets/plugin.svg
  front-end/src/stories/assets/repo.svg
  front-end/src/stories/assets/stackalt.svg
Due: azure-pipelines.yml

update cors
  back-end/GameApi/GameApi/GameApi/Program.cs
  front-end/src/App.test.tsx
Due: azure-pipelines-1.yml, azure-pipelines.yml

update score
  front-end/src/components/LogicGameGrid.tsx
Due: azure-pipelines.yml

test
  back-end/GameApi/GameApi/GameApi/Program.cs
Due: azure-pipelines-1.yml

change back cors settings
  back-end/GameApi/GameApi/GameApi/Program.cs
Due: azure-pipelines-1.yml

Update README.md
  README.md
Due: none
